@import "./_variables.scss";
@import "./_pageCv.scss";
@import "./_pageServicios.scss";
@import "./_pagePortfolio.scss";
@import "./_pageContacto.scss";
@import "./_headerFooter.scss";
@import "./_tipografia.scss";

* {
    color: $colorSecundaryWhite;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/*index proceso creacion*/

#tituloIndex {
    text-align: center;
}


.procesoCreacion {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 356px 356px 356px;
    grid-template-areas:    "imagen1 texto1"
                            "texto2 imagen2"
                            "imagen3 texto3";
    align-items: center;
    justify-content: center;

    padding-bottom: 83px;
    padding-top: 100px;
    padding-left: 15%;    
}

.parrafoCorto {
    width: 70%;
    padding-top: 1em;
}

img {
    width: 60%;
}

.imagen1 {
    grid-area: imagen1;  
}

.texto1 {
    grid-area: texto1;
}

.texto2 {
    grid-area: texto2;
}

.imagen2 {
    grid-area: imagen2;
}

.texto3 {
    grid-area: texto3;
}

.imagen3 {
    grid-area: imagen3;
}

/*index call to action*/

.ctaIndex {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3em 0em 1em 0em;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/cta.png);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

/*index portfolio*/

.portfolio {
    text-align: center;
    padding: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionCards {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "card1 card2 card3";
    column-gap: 5%;
    justify-content: center;
}

.card:hover {
    transform: scale(1, 1.05);
}

/*SMALL*/
@media only screen and (min-width: 100px) and (max-width: 600px) {


    /*Index*/

    
    .procesoCreacion {
        display: grid;
        padding: 0em 1em 0em 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-areas:    "imagen1"
                                "texto1"
                                "imagen2"
                                "texto2" 
                                "imagen3"
                                "texto3";    
    }
    
    .titulosVioleta {
        text-align: center;
    }
    .subtitulosVioleta {
        text-align: center;
    }
    .parrafoCorto {
        width: 90%;
        text-align: center;
        font-size: 1em;
        padding: 1em;
    }
    
    img {
        display: block;
        margin: auto;
        height: 90%;
        width: auto;
    }
    
    .ctaIndex {
        height: 200px;
        padding: 4em 1em 1em 1em;
    }
    
    .portfolio {
        padding: 0em;
        height: 1200px;
    }
    
    .seccionCards {
        padding-top: 4em;
        margin-top: 2em;
        display: grid;
        padding: 0em 1em 0em 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 350px;
        grid-template-areas: "card1"
                            "card2" 
                            "card3";
        row-gap: 5%;
    }
    
}



/*MEDIUM*/

@media only screen and (min-width: 600px) and (max-width: 1023px) {

        
    /*Index*/


    .parrafoCorto {
        width: 90%;
    }

    .procesoCreacion {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 356px 356px 356px;
        column-gap: 15%;
        grid-template-areas:    "imagen1 texto1"
                                "texto2 imagen2"
                                "imagen3 texto3";
        align-items: center;
        justify-content: center;
        padding-bottom: 83px; 
    }

    /*index portfolio*/


    .seccionCards {
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35% 35% 35%;
        grid-template-areas: "card1"
                            "card2"
                            "card3";
        row-gap: 5%;
        justify-content: center;
    }

}