* {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* textos */

.titulo1 {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
}

.titulo3 {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.titulosBold {
    word-spacing: 0px;
    line-height: 50px;
}

.titulosVioleta {
    color: #5005F2;
    word-spacing: 0px;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
}

.subtitulosVioleta {
    font-size: 1.75rem;
    color: #5005F2;
    word-spacing: 0px;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
}

.tituloNegro {
    color: black;
    line-height: 50px;
}

p {
    color: black;
}

.parrafoBlanco {
    color: white;
    line-height: 50px;
}

.parrafoSmall {
    color: black;
    font-size: 14px;
    padding-left: 16px;
}

a {
    text-decoration: none;
}

/*index header*/

.titles {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    background-image: url(../Images/Wave.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}


/*index proceso creacion*/

#tituloIndex {
    text-align: center;
}


.procesoCreacion {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 356px 356px 356px;
    grid-template-areas:    "imagen1 texto1"
                            "texto2 imagen2"
                            "imagen3 texto3";
    align-items: center;
    justify-content: center;
    padding-bottom: 83px;
    padding-top: 100px;
    padding-left: 15%;
 
    
}

.parrafoCorto {
    width: 70%;
}

img {
    width: 60%;
    height: 100%;
}

.imagen1 {
    grid-area: imagen1;  
}

.texto1 {
    grid-area: texto1;
}

.texto2 {
    grid-area: texto2;
}

.imagen2 {
    grid-area: imagen2;
}

.texto3 {
    grid-area: texto3;
}

.imagen3 {
    grid-area: imagen3;
}

/*index call to action*/

.ctaIndex {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3em 0em 1em 0em;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/cta.png);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

/*index portfolio*/

.portfolio {
    text-align: center;
    padding: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionCards {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "card1 card2 card3";
    column-gap: 5%;
    justify-content: center;
}




.card:hover {
    transform: scale(1, 1.05);
}



/*pages*/ 
.headerPages {
    text-align: center;
    padding: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/WaveSmall.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}


/*pages Servicios*/

.cardsServicios {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 382px 382px;
    grid-template-areas:    "servicio1 servicio2 servicio3"
                            "servicio4 servicio5 servicio6";
    row-gap: 5%;
    column-gap: 5%;
    justify-content: center;
    align-content: center;
    height: 800px;
    padding: 5% 0% 5% 0%;
}

.Servicios1 {
    background-image: url(../Images/Servicio1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 900;
    text-align: center;
    padding: 40% 5% 40% 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.Servicios1:hover {
        transform: scale(1, 1.05);
}


.Servicios2 {
    background-image: url(../Images/Servicio2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 900;
    text-align: center;
    padding: 40% 5% 40% 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.Servicios2:hover {
    transform: scale(1, 1.05);
}

.Servicios3 {
    background-image: url(../Images/Servicio3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 900;
    text-align: center;
    padding: 40% 5% 40% 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.Servicios3:hover {
    transform: scale(1, 1.05);
}

.Servicios4 {
    background-image: url(../Images/Servicio4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 900;
    text-align: center;
    padding: 40% 5% 40% 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.Servicios4:hover {
    transform: scale(1, 1.05);
}

.Servicios5 {
    background-image: url(../Images/Servicio5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 900;
    text-align: center;
    padding: 40% 5% 40% 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.Servicios5:hover {
    transform: scale(1, 1.05);
}

.Servicios6 {
    background-image: url(../Images/Servicio6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 900;
    text-align: center;
    padding: 40% 5% 40% 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.Servicios6:hover {
    transform: scale(1, 1.05);
}

.FooterServicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../Images/Footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    padding-top: 10%;
    position: relative;
    top: 0px;
}


/*pages CV*/

.breveCV{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 530px 90px;
    grid-template-areas: "imagenCV textoCV"
                        "titulo tools";
    justify-content: center;
    align-content: center;
}

.imgCV {
    height: 385px;
    width: 385px;
    align-self: center;
    justify-self: center;
    grid-area: imagenCV;
}

.parrafoCV {
    align-self: center;
    width: 80%;
    grid-area: textoCV;
}

.figma {
    height: 75px;
    width: 50px;
    margin: 0em 1em 0em 2em;
    opacity: 50%;
}

.figma:hover {
    opacity: 100%;
}

.github {
    height: 84px;
    width: 85px;  
    margin: 0em 1em -0.5em 1em;
    opacity: 50%;
}

.github:hover {
    opacity: 100%;
}

.VS {
    height: 65px;
    width: 65px;
    margin: 0em 1em 0em 1em;
    opacity: 50%;
}

.VS:hover {
    opacity: 100%;
}

.git {
    height: 73px;
    width: 73px;
    margin: 0em 2em 0em 1em;
    opacity: 50%;
}

.git:hover {
    opacity: 100%;
}

.herramientas {
    grid-area: titulo;
    text-align: center;
    align-self: center;
}

.iconosTool {
    grid-area: tools;
}



/*Botones*/

.buttonMFR {
    background-color: #5005F2;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin: 2em 0em 1em 0em;
}

button:hover {
    background-color: #6E32F0;
}


/* Pages Contacto */


.formContacto {
    background-color: #F2CA50;
    width: 50%;
    border-radius: 4px;
    display: block;
    position: relative;
    margin: 1em 1em 1em 15em;
    padding: 2em;
}

.tituloForm {
    margin-left: 2em;
}


/*Pie de página*/

.Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../Images/Footer.png);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 10%;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 50px;
    width: 60%;
}

.logo {
    width: 60px;
    height: 60px;
    padding-top: 100px;
}

.logo:hover {
    transform: translate(5px, 5px);
}

.secciones {
    height: 40%;
    padding-right: 127px;
    line-height: 80px;
}

.hoverFooter:hover {
    font-weight: bold;
}


/*SMALL*/
@media only screen and (min-width: 100px) and (max-width: 768px) {

 

    /*Textos*/

  
    .titulo1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.3em;
    }
    .titulo3 {
        font-size: 1em;
    }

    .titulosBold {
        line-height: 2.5em;   
        padding: 0em 1em 0em 1em;
    }
    
    .titulosVioleta {
        font-size: 1.3em;
    }

    .subtitulosVioleta {
        font-size: 1em;
    }

   
    
    .tituloNegro {
        line-height: 1em;
    }
    
    
    .parrafoBlanco {
        line-height: 2em;
        padding: 0em 1em 0em 1em;
    }
    
    .parrafoSmall {
        color: black;
        font-size: 0.8em;
    }

   


    /*Index*/

    .titles {
        padding-top: 110px;
        height: 350px;
        width: 100%;
    }
    
    .procesoCreacion {
        display: grid;
        padding: 0em 1em 0em 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-areas:    "imagen1"
                                "texto1"
                                "imagen2"
                                "texto2" 
                                "imagen3"
                                "texto3";    
        padding-top: 2em;
    }
    
    .titulosVioleta {
        text-align: center;
    }
    .subtitulosVioleta {
        text-align: center;
    }
    .parrafoCorto {
        width: 100%;
        text-align: center;
        font-size: 1em;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .ctaIndex {
        height: 200px;
        padding: 4em 1em 1em 1em;
    }
    
    .portfolio {
        padding: 0em;
        height: 1200px;
    }
    
    .seccionCards {
        padding-top: 4em;
        margin-top: 2em;
        display: grid;
        padding: 0em 1em 0em 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 350px;
        grid-template-areas: "card1"
                            "card2" 
                            "card3";
        row-gap: 5%;
    }
    


    /*Pie de página*/

.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../Images/Footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 4em;
    height: 800px;
}

.logos {
    width: 60%;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 3em;
    width: 50%;
}

.logo {
    width: 25px;
    height: 25px;
    padding-top: 1em;
}

.secciones {
    height: 20%;
    padding-right: 1em;
    line-height: 2em;
    padding-top: 4em;
}

/*pages*/ 
.headerPages {
    padding: 0px;
}


/*pages Servicios*/


.cardsServicios {
    display: grid;
    padding: 0em 2em 2em 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-template-areas:    "servicio1"
                             "servicio2"
                            "servicio3"
                             "servicio4" 
                             "servicio5"
                            "servicio6";
    row-gap: 2%;
    justify-content: center;
    align-content: center;
    height: 2000px;
}

.FooterServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../Images/Footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 4em;
    height: 800px;
    position: relative;
    top: 0px;
}

/*Pages CV*/

.breveCV{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 550px 200px 200px;
    grid-template-areas: "imagenCV"
                        "textoCV"
                        "titulo"
                        "tools";
    justify-content: center;
    align-content: center;
    text-align: center;
}

.imgCV {
    height: 300px;
    width: 300px;
    align-self: center;
    justify-self: center;
    grid-area: imagenCV;
}

.parrafoCV {
    justify-self: center;
    text-align: center;
    width: 80%;
    grid-area: textoCV;
}

.figma {
    height: 60px;
    width: 35px;
    margin: 0em 1em 0em 2em;
    opacity: 50%;
}


.github {
    height: 70px;
    width: 71px;  
    margin: 0em 1em -0.5em 0em;
    opacity: 50%;
}


.VS {
    height: 50px;
    width: 50px;
    margin: 0em 1em 0em 0em;
    opacity: 50%;
}


.git {
    height: 62px;
    width: 62px;
    margin: 0em 1em 0em 0em;
    opacity: 50%;
}


/* Pages Contacto */

.formContacto {
    background-color: #F2CA50;
    width: 70%;
    border-radius: 4px;
    display: block;
    margin: 1em 1em 1em 1em;
    padding: 2em;
}

.tituloForm {
    margin-left: 0em;
}

.titulo3 {
    text-align: left;
}

 
/*SMALL2*/

@media only screen and (min-width: 500px) and (max-width:700px) {
    

/*pages Servicios*/

.cardsServicios {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:    "servicio1 servicio2"
                            "servicio3 servicio4"
                            "servicio5 servicio6";
    justify-content: center;
    align-content: center;
    height: 1000px;
}
 /*Pages CV*/

.iconosTool {
    justify-self: center;
}

}

/*SMALL3*/

@media only screen and (min-width: 700px) and (max-width: 768px) {

   
    /*Index*/

    .procesoCreacion {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 356px 356px 356px;
        grid-template-areas:    "imagen1 texto1"
                                "texto2 imagen2"
                                "imagen3 texto3";
        align-items: center;
        justify-content: center;
        padding-bottom: 83px;
        padding-left: 15%;  
    }

    img {
        width: 100%;
        height: 80%;
    }
/*pages Servicios*/

.cardsServicios {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:    "servicio1 servicio2"
                            "servicio3 servicio4"
                            "servicio5 servicio6";
    justify-content: center;
    align-content: center;
    height: 1000px;
}
 /*Pages CV*/

    .breveCV {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 200px 200px;
    grid-template-areas: "imagenCV"
                        "textoCV"
                        "titulo"
                        "tools";
    justify-content: center;
    align-content: center;
    text-align: center;
    }
}



/*MEDIUM*/

@media only screen and (min-width: 769px) and (max-width: 992px) {

        
    /*Index*/


    .parrafoCorto {
        width: 90%;
    }

    .procesoCreacion {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 356px 356px 356px;
        grid-template-areas:    "imagen1 texto1"
                                "texto2 imagen2"
                                "imagen3 texto3";
        align-items: center;
        justify-content: center;
        padding-bottom: 83px; 
    }

    img {
        width: 100%;
        height: 80%;
    }


    /*Pie de página*/

    .Footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(../Images/Footer.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 4em;
        height: 800px;
    }
    
    .logos {
        width: 60%;
    }
    
    .datos {
        display: flex;
        flex-direction: column;
        justify-content: left;
        line-height: 3em;
        width: 50%;
    }
    
    .logo {
        width: 25px;
        height: 25px;
        padding-top: 1em;
    }
    
    .secciones {
        height: 20%;
        padding-right: 1em;
        line-height: 2em;
        padding-top: 4em;
    }
    
    /*pages Servicios*/
    
    .cardsServicios {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:    "servicio1 servicio2"
                            "servicio3 servicio4"
                            "servicio5 servicio6";
    justify-content: center;
    align-content: center;
    height: 1150px;
    }

    .FooterServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../Images/Footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-left: 4em;
    height: 800px;
    position: relative;
    top: 0px;
    }

 /*Pages CV*/

    .breveCV {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 200px 200px;
    grid-template-areas: "imagenCV"
                        "textoCV"
                        "titulo"
                        "tools";
    justify-content: center;
    align-content: center;
    text-align: center;
    }

    .parrafoCV {
     justify-self: center;
    }

.formContacto {
    background-color: #F2CA50;
    width: 70%;
    border-radius: 4px;
    display: block;
    margin: 1em 1em 1em 1em;
    padding: 2em;
}

.tituloForm {
    margin-left: 0em;
}

.titulo3 {
    text-align: left;
}

}

/*MEDIUM*/
@media only screen and (min-width: 993px) and (max-width: 1270px) {

    /*Pages CV*/

    .parrafoCV {
        align-self: center;
        width: 100%;
        grid-area: textoCV;
    }
   
}