* {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.titulosBold {
    padding-left: 142px;
    padding-right: 142px;
    word-spacing: 0px;
    line-height: 50px;
    
}

.titulosVioleta {
    color: #5005F2;
    word-spacing: 0px;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
}

.tituloNegro {
    color: black;
    word-spacing: 0px;
    line-height: 50px;
    padding: 30px;
}

.iconNav {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 10px;
    left: 35px;
}
.header {
    text-align: center;
    padding: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Wave.png);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.headerPages {
    text-align: center;
    padding: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/WaveSmall.png);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.cv{
    background-size: cover;
    height: 500px;
}

.procesoCreacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 83px;
 
    
}

.art1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 83px;
    padding-bottom: 83px;
    
}

.art1b {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 60px;
}

.art2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.art2b {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 60px;
}

.art3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.art3b {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 60px;
}

.ctaIndex {
    text-align: center;
    padding: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/cta.png);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.portfolio {
    text-align: center;
    padding: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #5005F2;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}


p {
    color: black;
    padding-left: 22px;
}

.parrafoBlanco {
    color: white;
    line-height: 50px;
}

.parrafoSmall {
    color: black;
    font-size: 14px;
}

.seccionCards {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 86px 0px 86px 0px;
    justify-content: space-around;
    
}

.imgCard {
    width: 100%;
    height: 60%;
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
   width: 30%;
   height: 220%;
   text-align: left;
   line-height: 20px;
   padding-bottom: 86px;
   box-shadow: 1px 2px 0px 0px rgb(77, 77, 78);   
}
.cardsServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Servicios {
    margin-top: 16px;
    padding: 16px;
    background-color: #FCF4DC;
    height: 382px;
    width: 344px;
    font-weight: 900;
    text-align: center;


}

.formContacto {
    width: 416px;
    height: 416px;
    background-color: #F2CA50;
    border-radius: 4px;
    display: block;
    position: relative;
    left: 32%;
    text-align: center;
}

#nombreForm {
    display: block;
    position: relative;
    left: 32%;
    bottom: 10px;
    top: 10px;
}

#mailForm {
    display: block;
    position: relative;
    left: 32%;
    bottom: 10px;
    top: 20px;
}

#solicitar {
    display: block;
    position: relative;
    left: 32%;
    bottom: 10px;
    top: 30px;
    color: grey;
    width: 165px;
    height: 25px;
}

.valores {
    color: grey
}

.enviar {
    display: block;
    position: relative;
    left: 32%;
    bottom: 10px;
    top: 40px;
    width: 165px;
    height: 25px;
    color: black;
}

Nav {
    position: sticky;
    top: 0px;
}

ul {
    padding-right: 76px;
    list-style-type: none;
    background-color: #8350F2;
    display: flex;
    justify-content: flex-end;
}

li {
    flex-direction: row;
    padding: 25px;


}

a {
    text-decoration: none;
}

img {
    width: 30%;
    height: 20%;
}

.Footer {
    padding: 142px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../Images/Footer.png);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding-top: 20%;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 50px;
    width: 60%;
}

.logo {
    width: 60px;
    height: 60px;
    padding-top: 100px;
}

.secciones {
    height: 40%;
    padding-right: 127px;
    line-height: 80px;
}
